/*
@import url("../../dist/flickity/css/flickity.css");
*/

.recent-works {
  display: block;
  min-width: 540px;
  max-width: 4192px;
  height: 1000px;
  background:#9f9acf url("../images/backgrnd-slider.png") 100% no-repeat;
  &__button-container {
    padding-top: 104px;
  }
  &__button {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: italic;
  }
  .main-banner {
    display: block;
    min-width: 540px;
    max-width: 4192px;
    height: 240px;
    padding-top: 50px;
    &__image {
      display: block;
      width: 40px;
      height: 60px;
      margin: 0 auto;
    }
    &__title {
      color: #fefcfd;
      font-size: 26px;
      font-weight: 600;
      text-align: center;
    }
  }
}
.slider {
  display: block;
  width: 1270px;
  height: 560px;
  margin: 0 auto;
  &__cell {
    width: 1260px;
    height: 550px;
  }
  &__img {
    display: block;
    width: 730px;
    height: 546px;
    margin: 0 auto;
  }
}
/*changes in slider*/
.flickity-page-dots .dot.is-selected {
  background: #ebebeb;
}
.flickity-prev-next-button .arrow {
  fill: #ebebeb;
}
                  /* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  background: transparent;
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: none; }